Base model implementation with variable selection and Linear Regression model following Macours et al.'s indications (as interpreted from the publication).

In [1]:
import pandas as pd
base_df = pd.read_stata('Cash_and_Childhood_Development_Replication\macoursetal_main.dta')  
base_df

,hogarid08,cp,hogarid_old,cp_old,age_months_08,hogarid06,i06,s4p7_parasite_i_08,s4p39_daysbed_i_08,cons_food_pc_08,...,a13cesd_08mom,e5home_08mom,s6p14_indays_i_06_mom,s6wrkdys_agwa_i_06_mom,s6wrkdys_nonagwa_i_06_mom,s6wrkdys_nonagslf_i_06_mom,s6wrkdys_prof_i_06_mom,s6totwrkdays_06_mom,a13cesd_06mom,a14home_06mom
0,7.005310e+11,5.0,70053101,NaN,33.0,70053101.0,1.0,no,3.0,12957.500000,...,3.0,0.0,0.0,0.0,0.0,120.0,0.0,120.0,0.0,2.0
1,7.005330e+11,5.0,70053301,5.0,77.0,70053301.0,1.0,yes,0.0,10154.200195,...,0.0,0.0,0.0,0.0,0.0,360.0,0.0,360.0,11.0,0.0
2,7.005340e+11,8.0,70053401,8.0,93.0,70053401.0,1.0,yes,0.0,9125.666992,...,18.0,0.0,0.0,0.0,360.0,0.0,0.0,360.0,7.0,0.0
3,7.005370e+11,7.0,70053701,7.0,97.0,70053701.0,1.0,yes,0.0,3854.149902,...,15.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,7.005370e+11,10.0,70053701,10.0,43.0,70053701.0,1.0,no,0.0,3854.149902,...,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4506,7.034900e+11,13.0,70349001,NaN,22.0,NaN,NaN,yes,0.0,3423.307617,...,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4507,7.046830e+11,8.0,70468301,NaN,7.0,NaN,NaN,no,0.0,9384.400391,...,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4508,7.008170e+11,4.0,70081701,NaN,20.0,NaN,NaN,yes,0.0,6369.750000,...,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4509,7.014790e+11,5.0,70147901,NaN,11.0,NaN,NaN,no,0.0,3485.000000,...,8.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4510,7.030020e+11,8.0,70300201,NaN,22.0,NaN,NaN,yes,0.0,8081.833496,...,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
base_df.to_csv("mainAsCSV.csv")

Creation of a secondary df with the selected features:

In [3]:
features=base_df[["s1age_head_05", "s1hhsize_05","s1hhsz_undr5_05","s1hhsz_5_14_05","s1hhsz_15_24_05","s1hhsz_25_64_05",
        "s1hhsz_65plus_05","s1male_head_05","s4p6_vitamina_i_05","tvip_05","height_05","a10whz_05","weight_05",
        "age_transfer","bweight","male","s4p7_parasite_i_06","ed_mom","MUN1","MUN2", "MUN3","MUN4","MUN5",
        "MUN6", "com_haz_05","com_waz_05","com_tvip_05","com_control_05","com_vit_05","com_deworm_05","weighted_05"]]
features

,s1age_head_05,s1hhsize_05,s1hhsz_undr5_05,s1hhsz_5_14_05,s1hhsz_15_24_05,s1hhsz_25_64_05,s1hhsz_65plus_05,s1male_head_05,s4p6_vitamina_i_05,tvip_05,...,MUN4,MUN5,MUN6,com_haz_05,com_waz_05,com_tvip_05,com_control_05,com_vit_05,com_deworm_05,weighted_05
0,30.0,4.0,0.0,2.0,0.0,2.0,0.0,male,NaN,NaN,...,1.0,0.0,0.0,-1.262231,-1.261618,7.500000,0.962963,0.925926,0.629630,NaN
1,35.0,5.0,1.0,2.0,0.0,2.0,0.0,male,no,NaN,...,1.0,0.0,0.0,-0.898214,-0.945974,3.800000,0.857143,0.571429,0.285714,1.0
2,56.0,8.0,1.0,1.0,3.0,3.0,0.0,male,no,4.0,...,1.0,0.0,0.0,-1.252950,-1.099559,9.833333,0.857143,0.685714,0.628571,1.0
3,49.0,12.0,1.0,5.0,2.0,3.0,0.0,male,yes,6.0,...,0.0,1.0,0.0,-1.186018,-1.167046,5.750000,0.944444,0.861111,0.500000,1.0
4,49.0,12.0,1.0,5.0,2.0,3.0,0.0,male,no,NaN,...,0.0,1.0,0.0,-1.186018,-1.167046,5.750000,0.944444,0.861111,0.500000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4506,47.0,10.0,1.0,2.0,3.0,4.0,0.0,male,NaN,NaN,...,1.0,0.0,0.0,-1.108303,-0.816282,15.125000,0.957447,0.872340,0.638298,NaN
4507,51.0,5.0,0.0,0.0,3.0,2.0,0.0,male,NaN,NaN,...,0.0,0.0,0.0,-0.860973,-0.515418,4.333333,0.956522,0.869565,0.608696,NaN
4508,32.0,3.0,0.0,1.0,1.0,1.0,0.0,male,NaN,NaN,...,1.0,0.0,0.0,-0.241637,-0.473147,5.000000,1.000000,1.000000,1.000000,NaN
4509,25.0,4.0,2.0,0.0,1.0,1.0,0.0,male,NaN,NaN,...,0.0,0.0,1.0,-1.864106,-1.570407,3.666667,0.893617,0.914894,0.744681,NaN
4510,57.0,9.0,1.0,3.0,2.0,3.0,0.0,male,NaN,NaN,...,0.0,0.0,1.0,-2.055639,-1.714412,4.722222,0.926829,0.536585,0.292683,NaN

In [4]:
features.isna().sum().sort_values()

s1age_head_05           46
com_vit_05              46
com_control_05          46
com_tvip_05             46
com_waz_05              46
com_haz_05              46
MUN6                    46
MUN5                    46
MUN4                    46
MUN3                    46
MUN2                    46
MUN1                    46
com_deworm_05           46
male                    46
s1male_head_05          46
s1hhsize_05             46
s1hhsz_undr5_05         46
s1hhsz_5_14_05          46
s1hhsz_15_24_05         46
s1hhsz_25_64_05         46
age_transfer            46
s1hhsz_65plus_05        46
ed_mom                 303
s4p7_parasite_i_06    1195
bweight               1644
weighted_05           1912
s4p6_vitamina_i_05    1966
weight_05             2044
height_05             2053
a10whz_05             2092
tvip_05               3408
dtype: int64

Macours et al. indicate that missing values were imputed through the mean of each feature, therefore all quantitative features are imputed accordingly.

In [5]:
features.fillna(features.mean(), inplace=True)
features.isna().sum()

C:\Users\Usuari\AppData\Local\Temp\ipykernel_4352\3867789846.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  features.fillna(features.mean(), inplace=True)
C:\Users\Usuari\AppData\Local\Temp\ipykernel_4352\3867789846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features.fillna(features.mean(), inplace=True)

s1age_head_05            0
s1hhsize_05              0
s1hhsz_undr5_05          0
s1hhsz_5_14_05           0
s1hhsz_15_24_05          0
s1hhsz_25_64_05          0
s1hhsz_65plus_05         0
s1male_head_05          46
s4p6_vitamina_i_05    1966
tvip_05                  0
height_05                0
a10whz_05                0
weight_05                0
age_transfer             0
bweight                  0
male                     0
s4p7_parasite_i_06    1195
ed_mom                   0
MUN1                     0
MUN2                     0
MUN3                     0
MUN4                     0
MUN5                     0
MUN6                     0
com_haz_05               0
com_waz_05               0
com_tvip_05              0
com_control_05           0
com_vit_05               0
com_deworm_05            0
weighted_05              0
dtype: int64

The remaining missing values are binary categorical variables that subsequently encode and impute:

In [6]:
features.s4p7_parasite_i_06   #example of feature with non-imputed NaN

0       NaN
1        no
2       yes
3       yes
4       yes
       ...
4506    NaN
4507    NaN
4508    NaN
4509    NaN
4510    NaN
Name: s4p7_parasite_i_06, Length: 4511, dtype: category
Categories (2, object): ['no' < 'yes']

In [7]:
from sklearn.preprocessing import OrdinalEncoder

enc = OrdinalEncoder()
enc.fit(features[["s1male_head_05","s4p6_vitamina_i_05", "male", "s4p7_parasite_i_06"]])
features[["s1male_head_05","s4p6_vitamina_i_05", "male", "s4p7_parasite_i_06"]] = features.transform(base_df[["s1male_head_05","s4p6_vitamina_i_05", "male", "s4p7_parasite_i_06"]])

SpecificationError: nested renamer is not supported

In [ ]:
features.s4p7_parasite_i_06

In [ ]:
features.fillna(features.mean(), inplace=True)

In [ ]:
features.s4p7_parasite_i_06

In [ ]:
features

A new dataframe containing the dependent variables is created and its missing values are imputed:

In [ ]:
df_outcome=base_df[["T", "a5sscore_i_06","a6smemory_p1_06","a6smemory_p2_06",
"a7a_delay_06","a7a_caution_06","a7b_delay_06","a7b_caution_06","a7c_delay_06","a7c_caution_06","a7d_delay_06",
"a7d_caution_06","a9sgrossmotor_06","height_06","weight_06","z_tvip_06","z_social_06","z_language_06","z_finmotor_06",
"z_memory_06","z_grmotor_06","z_legmotor_06","z_behavior_06","z_height_06","z_weight_06","z_all_06"]]

In [ ]:
df_outcome.isna().sum().sort_values()

In [ ]:
df_outcome.fillna(df_outcome.mean(), inplace=True)

In [ ]:
df_outcome.isna().sum()

The base linear regression model is created through a train-test 3/1 split for validation.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df1, df_outcome.z_all_06  , test_size=0.33, random_state=42)

In [ ]:
reg = LinearRegression().fit(X_train, y_train)
y_pred=reg.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

print(mean_squared_error(y_test, y_pred), r2_score(y_test, y_pred))