In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_stata('macoursetal_main.dta')

In [3]:
# "hogarid_old","cp_old","unique_05", "cpmom_06" seran usats com a index
df_out=df[["a5sscore_i_06","a6smemory_p1_06","a6smemory_p2_06","a7a_delay_06","a7b_delay_06",
        "a7c_delay_06","a7d_delay_06","a9sgrossmotor_06","height_06","weight_06","z_tvip_06","z_social_06",
        "z_language_06","z_finmotor_06","z_memory_06","z_grmotor_06","z_legmotor_06","z_behavior_06","z_height_06",
        "z_weight_06","z_all_06"]]

# Income variables

In [4]:
df1=df[["hogarid_old","cp_old","unique_05","s1age_head_05","s1hhsize_05","s1hhsz_undr5_05","s1hhsz_5_14_05",
        "s1hhsz_15_24_05","s1hhsz_25_64_05","s1hhsz_65plus_05","s1male_head_05","s2mother_inhs_05","s3ap5_rooms_h_05",
        "s3ap23_stime_h_05","s3ap24_htime_h_05","s3ap25_hqtime_h_05","s3atoilet_hh_05","s3awater_access_hh_05",
        "s3aelectric_hh_05","s4p6_vitamina_i_05","s4p7_parasite_i_05","s11ownland_hh_05","cons_food_pc_05","cons_tot_pc_05",
        "tvip_05","height_05","a10whz_05","weight_05","itt_i","itt_all_i","yrsedfath","age_transfer","bweight",
        "s4p7_parasite_i_06","cpmom_06","T","male","TREAT1","TREAT2","TREAT3","TREAT4","ed_mom","MUN1","MUN2","MUN3","MUN4",
        "MUN5","MUN6","com_haz_05","com_waz_05","com_tvip_05","com_control_05","com_vit_05","com_deworm_05","com_notvip",
        "sample06","vitamiron_06","weighted_05","propfood_05","prstap_f_05","pranimalprot_f_05","prfruitveg_f_05"]]

In [5]:
df1.rename(columns = {'T':'tr'}, inplace = True)

C:\Users\Usuari\AppData\Local\Temp\ipykernel_8288\2300806653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns = {'T':'tr'}, inplace = True)

In [6]:
df05=df1[["bweight","s4p7_parasite_i_06","cpmom_06","tr","male","TREAT1","TREAT2","TREAT3","TREAT4","ed_mom","MUN1","MUN2","MUN3","MUN4",
        "MUN5","MUN6","com_haz_05","com_waz_05","com_tvip_05","com_control_05","com_vit_05","com_deworm_05","com_notvip",
        "sample06","vitamiron_06","weighted_05","propfood_05","prstap_f_05","pranimalprot_f_05","prfruitveg_f_05"]]

###  NaNs

In [7]:
df1.isnull().sum(axis=1).value_counts()

1     1357
12     907
0      631
9      440
2      243
6      204
4      133
3      130
13     128
8      117
10      58
7       46
11      38
56      32
5       26
57       7
55       7
15       6
14       1
dtype: int64

In [8]:
#fem una copia del df
def copy_df(df):
   return df.copy()

In [9]:
#eliminem individus amb >delta*100% columnes buides
def drop_ind_missing(df, delta):
    thresh = len(df.columns)*delta
    df.dropna(axis=0, thresh=thresh, inplace=True)
    return df

In [10]:
#eliminem individus amb age transfer<age
def drop_out_missing(df, age=-11):
    nan_rows=df[df.age_transfer<age].index
    df.drop(nan_rows, inplace=True)
    return df

In [11]:
#categorical to ordinal
def ordinal(df, cols):
    enc = OrdinalEncoder()
    enc.fit(df[cols])
    df[cols] = enc.transform(df[cols])
    
    return df

In [50]:
#imputem NaNs

#imputem mitjanes
def mean_imputer(df, cols):
    for col in cols:
        df[col].fillna(df[col].mean(), inplace=True)
    return df

#imputem el valor mÃ©s frequent de la columna dintre el hh
def hh_mf_imputer(df,cols):
    index=df.index
    for col in cols:
        col_hh=[df[df.hogarid_old==familia][[col,"age_transfer"]].sort_values(by=['age_transfer'])[col]
                .values for familia in df.hogarid_old]
        for i in range(len(index)):
               if np.isnan(df[col][index[i]]):
                    non_nan_len=np.count_nonzero(~np.isnan(col_hh[i]))
                    if(non_nan_len!=0):
                        vals,counts = np.unique(col_hh[i], return_counts=True)
                        ind = np.argmax(counts)
                        df.loc[index[i],col]=vals[ind]
    return df

In [49]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
mean_cols=["bweight"]
hh_mf_cols=["s1age_head_05","s1hhsize_05","s1hhsz_undr5_05","s1hhsz_5_14_05","s1hhsz_15_24_05","s1hhsz_25_64_05",
            "s1hhsz_65plus_05","s1male_head_05","s2mother_inhs_05","s3ap5_rooms_h_05","s3atoilet_hh_05",
            "s3awater_access_hh_05","s3aelectric_hh_05","s11ownland_hh_05","s4p7_parasite_i_06","ed_mom","vitamiron_06"]

cleaned_df=(df1.pipe(copy_df)
            .pipe(drop_ind_missing, 0.8)
            .pipe(drop_out_missing)
            .pipe(ordinal, hh_mf_cols)
            .pipe(mean_imputer, mean_cols)
            .pipe(hh_mf_imputer, hh_mf_cols))
            #.pipe() que fem amb els 200 NaNs que la fila anterior no imputa?
            #.pipe() outliers
            #.pipe() estandaritzacio
            #.pipe() normalitzacio

s1age_head_05
s1hhsize_05
s1hhsz_undr5_05
s1hhsz_5_14_05
s1hhsz_15_24_05
s1hhsz_25_64_05
s1hhsz_65plus_05
s1male_head_05
s2mother_inhs_05
s3ap5_rooms_h_05
s3atoilet_hh_05
s3awater_access_hh_05
s3aelectric_hh_05
s11ownland_hh_05
s4p7_parasite_i_06
ed_mom
vitamiron_06

In [51]:
cleaned_df[hh_mf_cols].isna().sum()

s1age_head_05              0
s1hhsize_05                0
s1hhsz_undr5_05            0
s1hhsz_5_14_05             0
s1hhsz_15_24_05            0
s1hhsz_25_64_05            0
s1hhsz_65plus_05           0
s1male_head_05             0
s2mother_inhs_05          52
s3ap5_rooms_h_05           0
s3atoilet_hh_05            0
s3awater_access_hh_05      0
s3aelectric_hh_05          0
s11ownland_hh_05           0
s4p7_parasite_i_06       163
ed_mom                   208
vitamiron_06             158
dtype: int64

In [53]:
df1[hh_mf_cols].isna().sum()

s1age_head_05              46
s1hhsize_05                46
s1hhsz_undr5_05            46
s1hhsz_5_14_05             46
s1hhsz_15_24_05            46
s1hhsz_25_64_05            46
s1hhsz_65plus_05           46
s1male_head_05             46
s2mother_inhs_05          173
s3ap5_rooms_h_05           46
s3atoilet_hh_05            46
s3awater_access_hh_05      46
s3aelectric_hh_05          46
s11ownland_hh_05           46
s4p7_parasite_i_06       1195
ed_mom                    303
vitamiron_06             1187
dtype: int64